font-family: zawgyi;
    src: url("/sites/all/fonts/Zawgyi.woff") format('woff');
}

font-family: unicode;
    src: url("/sites/all/fonts/NotoSansMyanmar-Regular") format('ttf');
}

body {
    font-family:  Roboto, Arial, Georgia, "Times New Roman", Times, serif !important;
}

input {
    font-family:  Roboto, Arial, Georgia, "Times New Roman", Times, serif !important;
}

textarea{
    font-family: unicode, Arial, Georgia, "Times New Roman", Times, serif !important;
}


fieldset legend span {
    font-weight: bold;
    font-size: 1.3em;
    line-height: auto;
}

fieldset legend {
    height: auto;
}

fieldset {
    clear: both;
    padding: 0 1em 1em 1em;
}

.fieldset-wrapper {
    margin-top: 3em;
}

.my-atoz_table {
  width: 100%;
}

#logo {
    max-height: 100px;
}

.my-atoz-form-header {
    clear: both;
}

.my-atoz-admin-table .center {
    text-align: center;
}

.my-atoz-odd {
  background-color: #fafafa;
}

.my-atoz-even {
  background-color: #f0f0f0;
}

.my-atoz-table-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
}

#my-atoz-admin-table th {
    text-align: center;
}

.my-atoz-cell-icon {
    text-align: center;
}

.my-atoz-cell-icon img{
    width: 20px;
}


.my-atoz-cell-center {
    text-align: center;
}

.my-atoz-cell-right {
    text-align: right;
    margin-right: 10%;
}

#profile-image {
    float: left;
    overflow: hidden;
    padding-top: 20px;
}

#profile-image img {
   max-height: 250px;
   height: 100%;
}

.my-atoz-add-link {
    float: right;
}

.my-atoz-form-header {
    font-size: 1.5em;
    font-weight: bold;
}

form #edit-name {
    padding-top: 10px;
}

form  #edit-name label {
    float: left;
    margin-right: 10px;
    padding-top: 7px;
}

#pick-image img,
#pick-imagemm img {
    max-height: 100px;
}

.plupload-element {
    display: none;
}

.my-atoz-admin-series-list-title{
    float: left;
    margin-bottom: 1em;
    clear: both;
}

.my-atoz-admin-series-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #e82b54;
}


.my-atoz-admin-season-list-title {
    margin-bottom: 1em;
    float: right;
}

.my-atoz-admin-season-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #47bf80;
}

.my-atoz-list-header {
    clear: both;
}

.page-movie-category h1.title {
    color: #5091bc
}

.page-movie-category th {
    background-color: #5091bc
}

.page-movie-series h1.title {
    color: #e82b54
}

.page-movie-series th {
    background-color: #e82b54
}

.page-movie-season h1.title {
    color: #47bf80
}

.page-movie-season th {
    background-color: #47bf80
}

.page-movie-episode h1.title {
    color: #a053a0
}

.page-movie-episode th {
    background-color: #a053a0
}

div.messages.error{
     display:none !important; 
}

canvas#myChart {
    width: 55% !important;
    height: 30% !important;
}
#atoz-overview-filter .form-type-select {
    float: left;
    margin-right: 10px;
    width: 170px;
}
#edit-submit{
    margin-top: 20px;
}

/*consumer Filter*/

#my-atoz-user-filter{
    padding-top:5%;
}

#my-atoz-user-filter .form-type-textfield,
#my-atoz-user-filter .form-type-select{
    float: left;
    margin-right: 10px;
    width: 300px;
}

#my-atoz-user-filter .form-type-textfield input,
#my-atoz-user-filter .form-type-select input
{
    width: 90%;
    color: #000;
}

#my-atoz-user-filter input.form-submit {
    margin-top: 1.75em;
    margin-bottom: 0em;
    
}
#edit-reset,
#edit-submit,
#edit-save,
#edit-reject,
.frm_promo_div .form-submit {
  font-family: zawgyi,Roboto, Arial, Georgia, "Times New Roman", Times, serif !important;
}

    
#my-atoz-user-filter .container-inline-date
 {
    clear: none !important;
}

#my-atoz-redeem-filter-form .form-item-member-tier{
  float:left;
  width:100px;
}

#my-atoz-redeem-filter-form .form-item-redeem-date{
  float:left;
  margin-left:
}
#my-atoz-redeem-filter-form .container-inline-date{
  clear:right;
}
#my-atoz-redeem-filter-form .form-item-redeem-date-date label,#my-atoz-redeem-filter-form .description  {
    display: none;
}

#my-atoz-member-report-filter-form .form-item-member-id{
  width:260px;
  float:left;
}
#my-atoz-member-report-filter-form .form-item-member-level{
  width:100px;
  float:left;
}
#my-atoz-member-report-filter-form .form-item-member-id input,#my-atoz-member-report-filter-form .form-item-frequnecy input{
  width:240px;
}

#my-atoz-member-report-filter-form .form-item-frequnecy{
  float:left;
  margin-right:10px;
}

#my-atoz-point-report-filter-form .form-item-filter-date-date label,#my-atoz-point-report-filter-form .form-item-filter-date-date .description{
  display:none;
  float:left;
  width:200px;
}
#my-atoz-redeem-report-filter-form  .container-inline-date, #my-atoz-point-report-filter-form .container-inline-date{
  float:left;
}
#my-atoz-point-report-filter-form .form-item-member-id{
  width:220px;
  float:left;
}
#my-atoz-point-report-filter-form .form-item-member-id input{
  width:200px;
}
#my-atoz-point-report-filter-form .form-item-member-level{
  float:left;
  margin-right:10px;
}

#my-atoz-redeem-report-filter-form .form-item-member-id{
  width:220px;
  float:left;
}
#my-atoz-redeem-report-filter-form .form-item-member-id input{
  width:200px;
}
#my-atoz-redeem-report-filter-form .form-item-member-level{
  float:left;
  margin-right:10px;
}
#my-atoz-redeem-report-filter-form .form-item-outlet{
  float:left;
  margin-right:10px;
}
#my-atoz-redeem-report-filter-form .form-item-filter-date-date label,.form-item-filter-date-date .description{
  display:none;
}

.frm_promo_div label {
    display: contents;
}


.form-item-dob-date label,.form-item-dob-date .description{
    display: none;
}
.downlod-csv{
    float: right;
    margin-right: 5px;
}

#my-atoz-point-report-filter-form .form-item-member-type{
  float:left;
  margin-right:2px;
}

#main, #header div.section{
    width: 80% !important;
}

#my-atoz-user-filter-form .form-item-user-id{
  width:250px;
  float:left;
}

#my-atoz-user-filter-form .form-item-user-id input{
  width:230px;
}

#my-atoz-user-filter-form .form-item-city {
  float:left;
  margin-right:10px;
}
#my-atoz-user-filter-form .form-item-township{
  float:left;
  margin-right:10px;
}

#my-atoz-member-report-filter-form .form-item-city{
  float:left;
  margin-right:10px;
}
input {
    padding-top:8px;
    padding-bottom:8px;
}

#my-atoz-redeem-report-filter-form .form-item,#my-atoz-point-report-filter-form .form-item{
  margin-top:0;
}